{% extends 'Shop/base.html' %}
{% load static %}
  {% block content %}
    <body class="grey lighten-3">
  <!--Main layout-->
      <main class="mt-5 pt-4">
        <div class="overlay text-center mt-5">
          <img class="card-img-top" style="max-width:1000px;" src="{%static 'Shop/img/slide7.PNG'%}" alt="">
        </div>
        <div class="card-body text-center">
            <button type="button" class="btn btn-outline primary" style="max-width:70%;"><a href="{% url 'users:make-agent' %}"><strong class="text">Make Me an AGENT</strong></a></button>
        </div>
      </main>
    </body>
  {% endblock %}
